.content-inspect-wrapper{
    min-width: 360px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    gap: 20px;
    padding: 30px;
    border-radius: 12px;

    .title{
        padding: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    .img-wrapper{
        width: 300px;
        height: 300px;
        img{
            height: 100%;
            max-width: 100%;
        }
    }

    .close-button{
        position: absolute;
        z-index: 5;
        top: 0px;
        right: 0px;
        padding: 10px;
        font-size: 36px;
        color: red;
        cursor: pointer;
    }
}